.leaflet-container {
  height: 100%;
  flex: 2;
}

.ui-container {
  height: 100%;
  width: 100%;
  display: flex;
}

@media (orientation: portrait) {
  .ui-container {
    flex-direction: column;
  }
  .leaflet-container {
    width: 100%;
  }
}

.ui-controls {
  flex: 1;
}